<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'styling/style.css' %}">

<html>
    <head>
        <title>BoomNBoard -
        {% block title_block %}
        {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styling/style.css' %}">
    </head>

    <body>
        <div id="NavDiv">
        <nav class="navbar">
            <img src="{% static 'images/Media.jpg' %}" alt="Logo" class="Logo" />
            <ul class="links">
                <li class="LinkItem"><a href="home/">Home</a></li>
                <li class="LinkItem"><a href="/home/categories/">Categories</a></li>
                <li class="LinkItem"><a href="/home/myaccount/">My Account</a></li>
                <li class="LinkItem"><a href="/home/help/">Help</a></li>
                <li class="LinkItem"><a href="/home/login/">Login</a></li>
                <li class="LinkItem"><a href="/home/signup/">Sign Up</a></li>
            </ul>
        </nav>
        </div>

        <br>
        <br>

    {% block content %}
    {% endblock %}

</body>
</html>