{% extends "BoomNBoard/base.html" %}
{% load static %}

{% block title_block %}Categories{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styling/categories.css' %}">
{% endblock %}

{% block content %}

        <!--MEMES SECTION-->
        <div id="MemesDiv">
            <h2>Memes</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Aaaahhhh</p>
                    <button onclick="playSound('audio_meme16')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme6">
                        <source src="{% static 'audio/memes/Aaaahhhh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv" >
                        <button id="DownloadButton6" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Among Us</p>
                    <button onclick="playSound('audio_meme7')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme7">
                        <source src="{% static 'audio/memes/AmongUs.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton7" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Baby Crying</p>
                    <button onclick="playSound('audio_meme8')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme8">
                        <source src="{% static 'audio/memes/BabyCrying.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton8" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Bing Chilling</p>
                    <button onclick="playSound('audio_meme9')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme9">
                        <source src="{% static 'audio/memes/BingChilling.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton9" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Bruh</p>
                    <button onclick="playSound('audio_meme10')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme10">
                        <source src="{% static 'audio/memes/Bruh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton10" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Dramatic Fart</p>
                    <button onclick="playSound('audio_meme11')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme11">
                        <source src="{% static 'audio/memes/DramaticFart.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton11" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Goofy Sounds</p>
                    <button onclick="playSound('audio_meme12')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme12">
                        <source src="{% static 'audio/memes/GoofySounds.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton12" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Gulp</p>
                    <button onclick="playSound('audio_meme13')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme13">
                        <source src="{% static 'audio/memes/Gulp.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton13" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Vine Boom</p>
                    <button onclick="playSound('audio_meme14')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme14">
                        <source src="{% static 'audio/memes/VineBoom.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton14" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>What The Hell</p>
                    <button onclick="playSound('audio_meme15')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme15">
                        <source src="{% static 'audio/memes/WhatTheHell.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton15" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>What The Sigma</p>
                    <button onclick="playSound('audio_meme16')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme16">
                        <source src="{% static 'audio/memes/WhatTheSigma.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton16" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--RINGTONES SECTION-->
        <div id="RingtonesDiv">
            <h2>Ringtones</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Android</p>
                    <button onclick="playSound('audio_ringtone17')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone17">
                        <source src="{% static 'audio/ringtones/Android.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton17" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Baby Laugh</p>
                    <button onclick="playSound('audio_ringtone18')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone18">
                        <source src="{% static 'audio/ringtones/BabyLaugh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton18" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>John Cena</p>
                    <button onclick="playSound('audio_ringtone19')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone19">
                        <source src="{% static 'audio/ringtones/JohnCena.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton19" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Mario Death</p>
                    <button onclick="playSound('audio_ringtone20')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone20">
                        <source src="{% static 'audio/ringtones/MarioDeath.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton20" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Meep Meep</p>
                    <button onclick="playSound('audio_ringtone21')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone21">
                        <source src="{% static 'audio/ringtones/MeepMeep.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton21" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Nokia</p>
                    <button onclick="playSound('audio_ringtone22')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone22">
                        <source src="{% static 'audio/ringtones/Nokia.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton22" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rum Diddly Dum</p>
                    <button onclick="playSound('audio_ringtone23')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone23">
                        <source src="{% static 'audio/ringtones/RumDiddlyDum.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton23" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Scooby Laugh</p>
                    <button onclick="playSound('audio_ringtone24')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone24">
                        <source src="{% static 'audio/ringtones/ScoobyLaugh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton24" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Sui</p>
                    <button onclick="playSound('audio_ringtone25')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone25">
                        <source src="{% static 'audio/ringtones/Sui.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton25" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Why So Serious</p>
                    <button onclick="playSound('audio_ringtone26')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone26">
                        <source src="{% static 'audio/ringtones/WhySoSerious.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton26" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Windows XP</p>
                    <button onclick="playSound('audio_ringtone27')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone27">
                        <source src="{% static 'audio/ringtones/WindowsXP.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton27" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--MUSIC SECTION-->
        <div id="MusicDiv">
            <h2>Music</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Ali A</p>
                    <button onclick="playSound('audio_music28')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music28">
                        <source src="{% static 'audio/music/Ali_A.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton28" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Apple Bottom Jeans</p>
                    <button onclick="playSound('audio_music29')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music29">
                        <source src="{% static 'audio/music/AppleBottomJeans.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton29" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Coffin Dance</p>
                    <button onclick="playSound('audio_music30')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music30">
                        <source src="{% static 'audio/music/CoffinDance.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton30" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Italian Brain Rot</p>
                    <button onclick="playSound('audio_music31')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music31">
                        <source src="{% static 'audio/music/ItalianBrainRot.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton31" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Kahoot</p>
                    <button onclick="playSound('audio_music32')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music32">
                        <source src="{% static 'audio/music/Kahoot.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton32" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Mi Me Ma Mo Mu</p>
                    <button onclick="playSound('audio_music33')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music33">
                        <source src="{% static 'audio/music/MiMeMaMoMu.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton33" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Never Back Down</p>
                    <button onclick="playSound('audio_music34')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music34">
                        <source src="{% static 'audio/music/NeverBackDown.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton34" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rick Roll</p>
                    <button onclick="playSound('audio_music35')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music35">
                        <source src="{% static 'audio/music/RickRoll.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton35" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rizz</p>
                    <button onclick="playSound('audio_music36')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music36">
                        <source src="{% static 'audio/music/Rizz.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton36" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>We Bring The Boom</p>
                    <button onclick="playSound('audio_music37')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music37">
                        <source src="{% static 'audio/music/WeBringTheBoom.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton37" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>We Live We Love</p>
                    <button onclick="playSound('audio_music38')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music38">
                        <source src="{% static 'audio/music/WeLiveWeLove.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button id="DownloadButton38" onclick="downloadSong(this)">
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}