<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styling/categories.css' %}">
        <script defer src="{% static 'javascript/javascript.js' %}"></script>
        <title>BoomNBoard</title>
    </head>
    <body>
        <div id="NavDiv">
            <nav class="navbar">
                <img src="{% static 'images/Media.jpg' %}" alt="Logo" class="Logo" />
                <ul class="links">
                    <li class="LinkItem"><a href="/home/">Home</a></li>
                    <li class="LinkItem"><a href="/home/categories/">Categories</a></li>
                    <li class="LinkItem"><a href="/home/myaccount/">My Account</a></li>
                    <li class="LinkItem"><a href="/home/help/">Help</a></li>
                    <li class="LinkItem"><a href="/home/login/">Login</a></li>
                    <li class="LinkItem"><a href="/home/signup/">Sign Up</a></li>
                </ul>
            </nav>
        </div>

        <!--MEMES SECTION-->
        <div id="MemesDiv">
            <h2>Memes</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Aaaahhhh</p>
                    <button onclick="playSound('audio_meme1')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme1">
                        <source src="{% static 'audio/memes/Aaaahhhh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Among Us</p>
                    <button onclick="playSound('audio_meme2')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme2">
                        <source src="{% static 'audio/memes/AmongUs.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Baby Crying</p>
                    <button onclick="playSound('audio_meme3')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme3">
                        <source src="{% static 'audio/memes/BabyCrying.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Bing Chilling</p>
                    <button onclick="playSound('audio_meme4')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme4">
                        <source src="{% static 'audio/memes/BingChilling.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Bruh</p>
                    <button onclick="playSound('audio_meme5')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme5">
                        <source src="{% static 'audio/memes/Bruh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Dramatic Fart</p>
                    <button onclick="playSound('audio_meme6')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme6">
                        <source src="{% static 'audio/memes/DramaticFart.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Goofy Sounds</p>
                    <button onclick="playSound('audio_meme7')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme7">
                        <source src="{% static 'audio/memes/GoofySounds.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Gulp</p>
                    <button onclick="playSound('audio_meme8')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme8">
                        <source src="{% static 'audio/memes/Gulp.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Vine Boom</p>
                    <button onclick="playSound('audio_meme9')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme9">
                        <source src="{% static 'audio/memes/VineBoom.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>What The Hell</p>
                    <button onclick="playSound('audio_meme10')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme10">
                        <source src="{% static 'audio/memes/WhatTheHell.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>What The Sigma</p>
                    <button onclick="playSound('audio_meme11')">
                        <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton MemeButton"/>
                    </button>
                    <audio id="audio_meme11">
                        <source src="{% static 'audio/memes/WhatTheSigma.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--RINGTONES SECTION-->
        <div id="RingtonesDiv">
            <h2>Ringtones</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Android</p>
                    <button onclick="playSound('audio_ringtone1')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone1">
                        <source src="{% static 'audio/ringtones/Android.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Baby Laugh</p>
                    <button onclick="playSound('audio_ringtone2')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone2">
                        <source src="{% static 'audio/ringtones/BabyLaugh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>John Cena</p>
                    <button onclick="playSound('audio_ringtone3')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone3">
                        <source src="{% static 'audio/ringtones/JohnCena.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Mario Death</p>
                    <button onclick="playSound('audio_ringtone4')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone4">
                        <source src="{% static 'audio/ringtones/MarioDeath.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Meep Meep</p>
                    <button onclick="playSound('audio_ringtone5')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone5">
                        <source src="{% static 'audio/ringtones/MeepMeep.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Nokia</p>
                    <button onclick="playSound('audio_ringtone6')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone6">
                        <source src="{% static 'audio/ringtones/Nokia.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rum Diddly Dum</p>
                    <button onclick="playSound('audio_ringtone7')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone7">
                        <source src="{% static 'audio/ringtones/RumDiddlyDum.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Scooby Laugh</p>
                    <button onclick="playSound('audio_ringtone8')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone8">
                        <source src="{% static 'audio/ringtones/ScoobyLaugh.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Sui</p>
                    <button onclick="playSound('audio_ringtone9')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone9">
                        <source src="{% static 'audio/ringtones/Sui.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Why So Serious</p>
                    <button onclick="playSound('audio_ringtone10')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone10">
                        <source src="{% static 'audio/ringtones/WhySoSerious.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Windows XP</p>
                    <button onclick="playSound('audio_ringtone11')">
                        <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton RingButton"/>
                    </button>
                    <audio id="audio_ringtone11">
                        <source src="{% static 'audio/ringtones/WindowsXP.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--MUSIC SECTION-->
        <div id="MusicDiv">
            <h2>Music</h2>
            <div style="display:flex; flex-wrap:wrap;">
                <div class="ButtonClass">
                    <p>Ali A</p>
                    <button onclick="playSound('audio_music1')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music1">
                        <source src="{% static 'audio/music/Ali_A.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Apple Bottom Jeans</p>
                    <button onclick="playSound('audio_music2')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music2">
                        <source src="{% static 'audio/music/AppleBottomJeans.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Coffin Dance</p>
                    <button onclick="playSound('audio_music3')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music3">
                        <source src="{% static 'audio/music/CoffinDance.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Italian Brain Rot</p>
                    <button onclick="playSound('audio_music4')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music4">
                        <source src="{% static 'audio/music/ItalianBrainRot.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Kahoot</p>
                    <button onclick="playSound('audio_music5')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music5">
                        <source src="{% static 'audio/music/Kahoot.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Mi Me Ma Mo Mu</p>
                    <button onclick="playSound('audio_music6')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music6">
                        <source src="{% static 'audio/music/MiMeMaMoMu.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Never Back Down</p>
                    <button onclick="playSound('audio_music7')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music7">
                        <source src="{% static 'audio/music/NeverBackDown.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rick Roll</p>
                    <button onclick="playSound('audio_music8')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music8">
                        <source src="{% static 'audio/music/RickRoll.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>Rizz</p>
                    <button onclick="playSound('audio_music9')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music9">
                        <source src="{% static 'audio/music/Rizz.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>We Bring The Boom</p>
                    <button onclick="playSound('audio_music10')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music10">
                        <source src="{% static 'audio/music/WeBringTheBoom.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
                <div class="ButtonClass">
                    <p>We Live We Love</p>
                    <button onclick="playSound('audio_music11')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton MusicButton"/>
                    </button>
                    <audio id="audio_music11">
                        <source src="{% static 'audio/music/WeLiveWeLove.mp3' %}" type="audio/mpeg">
                    </audio>
                    <div class="DownloadLikeDiv">
                        <button>
                            <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                        </button>
                        <button onclick="toggleLike(this)">
                            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <b><h1 style="text-align: center;">BoomNBoard</h1></b>

    </body>
</html>