<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'styling/style.css' %}">

<html>
    <head>
        <title>BoomNBoard - Help Page</title>
    </head>

     <body>
        <div id="NavDiv">
            <nav class="navbar">
                <img src="{% static 'images/Media.jpg' %}" alt="Logo" class="Logo" />
                <ul class="links">
                    <li class="LinkItem"><a href="/home/">Home</a></li>
                    <li class="LinkItem"><a href="/home/categories/">Categories</a></li>
                    <li class="LinkItem"><a href="/home/myaccount/">My Account</a></li>
                    <li class="LinkItem"><a href="/home/help/">Help</a></li>
                    <li class="LinkItem"><a href="/home/login/">Login</a></li>
                    <li class="LinkItem"><a href="/home/signup/">Sign Up</a></li>
                </ul>
            </nav>
        </div>

    <h1 class="HelpPage">Help Page</h1>

    <h2 class="HelpFAQ">Frequently asked questions</h2>

    <div id="FAQDiv">
        <li>
            <strong>Question:</strong> how do I download sounds? 
            <strong>Answer:</strong> Press the download icon   
            <img src="{% static 'images/DownloadButton.jpg' %}" alt="download" class="download" width="20" height="20" />
             beside the sound of your choice!
        </li>
        <li>
            <strong>Question:</strong> how do I favourite sounds? 
            <strong>Answer:</strong> Press the favourite icon   
            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="likebuttonwhite" class="likebuttonwhite" width="20" height="20" /> 
            beside the sound of your choice! You will be able to tell it's a favourite when the heart goes red
            <img src="{% static 'images/LikeButtonRed.jpg' %}" alt="likebuttonred" class="likebuttonred" width="20" height="20" /> 
        </li>
    </div>

    <h2 class="HelpEmail">Cant find what you're looking for?</h2>

    <div id="HelpTextDiv">
        <strong><p>Any questions? Please e-mail us at example@email.com</p></strong>
    </div>

    <b><h1 style="text-align: center;">BoomNBoard</h2></b>

    </body>
</html>