{% extends "BoomNBoard/base.html" %}
{% load staticfiles %}

{% block title_block %}BoomNBoard Help Page{% endblock %}

 {% block content %}
   
    <h1 class="HelpTitle">Help Page</h1>

    <h2 class="FAQTitle">Frequently asked questions</h2>

    <div id="FAQDiv">
        <li>
            <strong>Question:</strong> how do I download sounds? 
            <strong>Answer:</strong> Press the download icon   
            <img src="{% static 'images/DownloadButton.jpg' %}" alt="download" class="download" width="30" height="30" />
             beside the sound of your choice!
        </li>
        <br>
        <li>
            <strong>Question:</strong> how do I favourite sounds? 
            <strong>Answer:</strong> Press the favourite icon   
            <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="likebuttonwhite" class="likebuttonwhite" width="30" height="30" /> 
            beside the sound of your choice! You will be able to tell it's a favourite when the heart goes red!
            <img src="{% static 'images/LikeButtonRed.jpg' %}" alt="likebuttonred" class="likebuttonred" width="30" height="30" /> 
        </li>
    </div>

    <h2 class="HelpEmailTitle">Cant find what you're looking for?</h2>

    <div id="HelpTextDiv">
        <strong><p>Any questions? Please e-mail us at example@email.com</p></strong>
        <p>You can also provide us with any suggestions on what to add to our site!</p>
    </div>

{% endblock %}