<!DOCTYPE html>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styling/style.css' %}">

<html>
    <head>
        <title>BoomNBoard</title>
    </head>

    <body>
        <div id="NavDiv">
        <nav class="navbar">
            <img src="{% static 'images/Media.jpg' %}" alt="Logo" class="Logo" />
            <ul class="links">
                <li class="LinkItem"><a href="home/">Home</a></li>
                <li class="LinkItem"><a href="/home/categories/">Categories</a></li>
                <li class="LinkItem"><a href="/home/myaccount/">My Account</a></li>
                <li class="LinkItem"><a href="/home/help/">Help</a></li>
                <li class="LinkItem"><a href="/home/login/">Login</a></li>
                <li class="LinkItem"><a href="/home/signup/">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    <br>
    <br>
        <div id="AboutTextDiv">
            <strong>{{ aboutmessage }}</strong>
            <br>
            <strong>{{ aboutmessagecontinued }}</strong>
        </div>

        <div id="TrendingSoundsDiv" style="background-color: lightgray; height:25em;">
           <u><h2 style="text-align: left;">Trending Sounds</h2></u> 
        <div style="display:flex;">
           <div class="ButtonClass">
                <p>#1</p>
                <button> 
                    <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton" height="300em" width="300em"/>
                </button>
                 <br>
           </div>
           <div class="ButtonClass">
                <p>#2</p>
                <button> 
                 <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton"  height="300em" width="300em"/>
                </button>
           </div>
           <div class="ButtonClass">
                <p>#3</p>
                <button> 
                 <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton"  height="300em" width="300em"/>
                 </button>  
           </div>
           <div class="ButtonClass">
                <p>#4</p>
                <button> 
                 <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton"  height="300em" width="300em"/>
                </button>
           </div>
           <div class="ButtonClass">
                <p>#5</p>
                <button> 
                <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton"  height="300em" width="300em"/>
                </button>
           </div>
           </div>
           <div>
                {% for sound in TrendingSounds %}
                    <div class="TrendingSoundNamesClass">
                         <h3>{{ sound.name }}</h3>
                    </div>
                {% endfor %}
            </div>
           <div style="display:flex;"> 
                <div class="DownloadLikeDiv">
                <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
                <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
                </div>
                <div class="DownloadLikeDiv">
                <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
                <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
                </div>
                <div class="DownloadLikeDiv">
                <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
                <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
                </div>
                <div class="DownloadLikeDiv">
                <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
                <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
                </div>
                <div class="DownloadLikeDiv">
                <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
                <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
                </div>
           </div>
           <b><h1 style="text-align: center;">BoomNBoard</h2></b>
            
        </div>
    </body>
</html>