{% extends "BoomNBoard/base.html" %}
{% load static %}

{% block title_block %}BoomNBoard Home{% endblock %}

 {% block content %}
        <div id="AboutTextDiv">
            <strong>{{ aboutmessage }}</strong>
            <br>
            <strong>{{ aboutmessagecontinued }}</strong>
            <br>
            <br>
            {% for colour in colourkey %}
                <span class="colourkeys {{ colour.colourkeycss }}">{{ colour.label }}</span>
            {% endfor %}

        </div>

        <div id="TrendingSoundsDiv">
           <u><h2 style="text-align: left; font-family: Arial, Helvetica, sans-serif;">Trending Sounds</h2></u> 

        <div style="display:flex; flex-wrap:wrap;">
           <div class="ButtonClass">
                <p>#1</p>
                <button onclick="playSound('audio1')">
                    <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton"/>
                </button>
                <audio id="audio1" data-name="{{ TrendingSounds.0.name }}">
                    <source src="{% static 'audio/drums.mp3' %}" type="audio/mpeg">
                </audio>
                <div class="DownloadLikeDiv">
                    <button id="DownloadButton1" onclick="downloadSong(this)" data-name="{{ TrendingSounds.0.soundFile }}">
                        <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                    </button>
                    <button id="LikeButton1" onclick="changeImage(this)">
                        <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeImage1">
                    </button>
                </div>
                 <h3 style="font-family: Arial, Helvetica, sans-serif;">{{ TrendingSounds.0.name }}</h3>
           </div>

           <div class="ButtonClass">
                <p>#2</p>
                <button onclick="playSound('audio2')">
                    <img src="{% static 'images/RingButton-removebg-preview.png' %}" alt="RingButton" class="SoundButton"/>
                </button>
                <audio id="audio2" data-name="{{ TrendingSounds.1.name }}">
                    <source src="{% static 'audio/cat.mp3' %}" type="audio/mpeg">
                </audio>
                <div class="DownloadLikeDiv">
                    <button id="DownloadButton2" onclick="downloadSong(this)" data-name="{{ TrendingSounds.1.soundFile }}">
                        <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                    </button>
                    <button id="LikeButton2" onclick="changeImage(this)">
                        <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeImage2">
                    </button>
                </div> 
                <h3 style="font-family: Arial, Helvetica, sans-serif;">{{ TrendingSounds.1.name }}</h3>
           </div>
           <div class="ButtonClass">
                <p>#3</p>
                <button onclick="playSound('audio3')">
                    <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton"/>
                </button>
                <audio id="audio3" data-name="{{ TrendingSounds.2.name }}">
                    <source src="{% static 'audio/chatting.mp3' %}" type="audio/mpeg">
                </audio>
                <div class="DownloadLikeDiv">
                    <button id="DownloadButton3" onclick="downloadSong(this)" data-name="{{ TrendingSounds.2.soundFile }}">
                        <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                    </button>
                    <button id="LikeButton3" onclick="changeImage(this)">
                        <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeImage3">
                    </button>
                </div>
                <h3 style="font-family: Arial, Helvetica, sans-serif;">{{ TrendingSounds.2.name }}</h3>
           </div>
           <div class="ButtonClass">
                <p>#4</p>
                <button onclick="playSound('audio4')">
                    <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="MusicButton" class="SoundButton"/>
                </button>
                <audio id="audio4" data-name="{{ TrendingSounds.3.name }}">
                    <source src="{% static 'audio/roar.mp3' %}" type="audio/mpeg">
                </audio>
                <div class="DownloadLikeDiv">
                    <button id="DownloadButton4" onclick="downloadSong(this)" data-name="{{ TrendingSounds.3.soundFile }}">
                        <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                    </button>
                    <button id="LikeButton4" onclick="changeImage(this)">
                        <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeImage4">
                    </button>
                </div>
                <h3 style="font-family: Arial, Helvetica, sans-serif;">{{ TrendingSounds.3.name }}</h3>
           </div>
           <div class="ButtonClass">
                <p>#5</p>
                <button onclick="playSound('audio5')">
                    <img src="{% static 'images/MemeButton-removebg-preview.png' %}" alt="MemeButton" class="SoundButton"/>
                </button>
                <audio id="audio5" data-name="{{ TrendingSounds.4.name }}">
                    <source src="{% static 'audio/woof.mp3' %}" type="audio/mpeg">
                </audio>
                <div class="DownloadLikeDiv">
                    <button id="DownloadButton5" onclick="downloadSong(this)" data-name="{{ TrendingSounds.4.soundFile }}">
                        <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download">
                    </button>
                    <button id="LikeButton5" onclick="changeImage(this)">
                        <img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeImage5">
                    </button>
                </div> 
                <h3 style="font-family: Arial, Helvetica, sans-serif;">{{ TrendingSounds.4.name }}</h3>
           </div>
           </div> 
        </div>

         <script>
        const RedHeart = "{% static 'images/LikeButtonRed.jpg' %}";
        const WhiteHeart = "{% static 'images/LikeButtonWhite.jpg' %}";
    </script>

{% endblock %}