{% extends "BoomNBoard/base.html" %}

{% block title_block %}BoomNBoard Login{% endblock %}

{% block content %}
    <div class="loginSection">
    <form method="POST" id="loginForm" action="{% url 'app:loginUser' %}">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" id="username" name="username" />

        <label>Password</label>
        <input type="password" id="password" name="password" />

        <button class="loginButton">Login</button>
    </form>

    <div id="error"></div>
    </div>
{% endblock %}