{% extends "BoomNBoard/base.html" %}

{% block title_block %}BoomNBoard Login{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
             <div class="signup-error-message">{{ message }}</div>
        </div>
        {% endfor %}
    {% endif %}

    <div class="loginSection">
    <form method="POST" id="loginForm" action="{% url 'app:login' %}">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" id="username" name="username" />

        <label>Password</label>
        <input type="password" id="password" name="password" />

        <button class="loginButton">Login</button>
    </form>

    <div id="error"></div>
    </div>
{% endblock %}