{% extends "BoomNBoard/base.html" %}
{% load staticfiles %}

{% block title_block %}BoomNBoard My Account{% endblock %}

 {% block content %}

    <h1 class="MyAccountTitle">
        {% if user.is_authenticated %}
            Hello, {{ user.username }}!
        {% else %}
            Hello, sign up to save sounds!
        {% endif %}</h1>
    <br>
    
    {% if user.is_authenticated %}
    <a class="UploadSoundButton" href="#" onclick="document.getElementById('mp3upload').click(); return false;">
        <p>Upload Sound as MP3</p>
    </a>
    <input type="file" id="mp3upload" accept=".mp3" style="display:none;">
    {% else %}
        <p>Log in to an account to upload sounds!</p>
    {% endif %}
    <br>

        <div id="YourSoundsDiv" style="background-color: lightgray; height:30em;">
            <u><h2 style="text-align: left; font-family: Arial, Helvetica, sans-serif; font-size:30px;" >Your Uploaded Sounds</h2></u>
            {% if UploadedSounds %}
            <div style="display:flex;">
                {% for sound in UploadedSounds %}
                <div class="ButtonClass">
                    <p>#{{ forloop.counter }}</p>
                    <button onclick="playSound('audio_uploaded{{ forloop.counter }}')">
                        <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="SoundButton" class="SoundButton" height="300em" width="300em"/>
                    </button>
                     <audio id="audio_uploaded{{ forloop.counter }}">
                        <source src="media/{{ sound.soundFile }}" type="audio/mpeg">
                    </audio>
                    <br>
                </div>
                {% endfor %}
            </div>
            <div class="UploadedSoundNamesClass">
                {% for sound in UploadedSounds %}
                    <div class="SoundNameClass">
                        <h3>{{ sound.name }}</h3>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <p style="text-align: center; color: gray; margin-top: 2em; font-size: 1.2em;">No sounds uploaded yet!</p>
            {% endif %}
        </div>


        <div id="FavouriteSoundsDiv" style="background-color: lightgray; height:20em;">
           <u><h2 style="text-align: left;">Favourite Sounds</h2></u>
           {% if FavouriteSounds %}
           <div style="display:flex;">
               {% for sound in FavouriteSounds %}
               <div class="ButtonClass">
                   <p>#{{ forloop.counter }}</p>
                   <button>
                       <img src="{% static 'images/MusicButton-removebg-preview.png' %}" alt="SoundButton" class="SoundButton" height="300em" width="300em"/>
                   </button>
                   <br>
                   <div class="FavouriteDownloadLikeDiv">
                       <button id="DownloadButton{{ forloop.counter }}" onclick="downloadSong(this)">
                           <img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" height="75em" width="35em">
                       </button>
                       <button id="LikeButton{{ forloop.counter }}" onclick="changeImage(this)">
                           <img src="{% static 'images/LikeButtonRed.jpg' %}" alt="Like" height="75em" width="35em" id="LikeImage{{ forloop.counter }}">
                       </button>
                   </div>
               </div>
               {% endfor %}
           </div>
           <div class="FavouriteSoundNamesClass">
               {% for sound in FavouriteSounds %}
                   <div class="SoundNameClass">
                       <h3>{{ sound.name }}</h3>
                   </div>
               {% endfor %}
           </div>
           {% else %}
           <p style="text-align: center; color: gray; margin-top: 2em; font-size: 1.2em;">No sounds favourited yet!</p>
           {% endif %}
        </div>

    <script>
        const RedHeart = "{% static 'images/LikeButtonRed.jpg' %}";
        const WhiteHeart = "{% static 'images/LikeButtonWhite.jpg' %}";
        window.UserID = "{{ request.user.id }}";
    </script>
{% endblock %}