<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'styling/style.css' %}">

<html>
    <head>
        <title>BoomNBoard - MyAccount Page</title>
    </head>

     <body>

        <div id="NavDiv">
            <nav class="navbar">
                <img src="{% static 'images/Media.jpg' %}" alt="Logo" class="Logo" />
                <ul class="links">
                    <li class="LinkItem"><a href="/home/">Home</a></li>
                    <li class="LinkItem"><a href="/home/categories/">Categories</a></li>
                    <li class="LinkItem"><a href="/home/myaccount/">My Account</a></li>
                    <li class="LinkItem"><a href="/home/help/">Help</a></li>
                    <li class="LinkItem"><a href="/home/login/">Login</a></li>
                    <li class="LinkItem"><a href="/home/signup/">Sign Up</a></li>
                </ul>
            </nav>
        </div>

    <h1 class="MyAccountPage">Hello, Your-Username-Here </h1>
     <!-- to be changed to actual usernames -->
     
    <a href="#" onclick="document.getElementById('mp3upload').click(); return false;">
        <p style="text-align: center;">Upload Sound as MP3</p>
    </a>

    <input type="file" id="mp3upload" accept=".mp3" style="display:none;">


    <div style="display:flex;"> 
        <div class="DownloadLikeDiv">
            <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
            <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
        </div>
        <div class="DownloadLikeDiv">
            <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
            <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
        </div>
        <div class="DownloadLikeDiv">
            <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
            <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
        </div>
        <div class="DownloadLikeDiv">
            <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
            <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
        </div>
        <div class="DownloadLikeDiv">
            <button><img src="{% static 'images/DownloadButton.jpg' %}" alt="Download" id="DownloadButton1" height="150em" width="70em"></button>
            <button><img src="{% static 'images/LikeButtonWhite.jpg' %}" alt="Like" id="LikeButton1" height="150em" width="70em"></button>
    </div>

    </body>

</html>