{% extends "BoomNBoard/base.html" %}

{% block title_block %}BoomNBoard Sign Up{% endblock %}

{% block content %}
    <h2 class="SignUpTitle">Register new Account</h2>

    {% if messages %}
            {% for message in messages %}
                <div class="signup-error-message">{{ message }}</div>
            {% endfor %}
    {% endif %}

    <div class="SignUpSection">
        <form method="POST" action="{% url 'app:signup' %}">
            {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" />

        <label>Email Address</label>
        <input type="text" name="email" />

        <label>Password</label>
        <input type="password" name="password1" />

        <label>Confirm Password</label>
        <input type="password" name="password2" />

        <button type="submit" class="SignUpButton">Sign Up</button>
        </form>
    </div>
{% endblock %}